In [10]:
from src.plugins.mongoDB.mongodb_hook import MongoDBHook
from prefect.filesystems import LocalFileSystem

mdb = MongoDBHook()

mdb.extract_df()

,account,date,description,amount,category
0,BMO_MASTERCARD,2023-02-27,TRSF FROM/DE ACCT/CPT 2503-XXXX-940,-90.18,food_drink
1,BMO_MASTERCARD,2023-03-01,HARVEY'S #2729 TORONTO ON,13.54,food_drink
2,BMO_MASTERCARD,2023-03-04,DOMINOS PIZZA #39032 604-733-2118 BC,101.66,food_drink
3,BMO_MASTERCARD,2023-03-04,DOMINOS PIZZA #39032 604-733-2118 BC,100.14,food_drink
4,BMO_MASTERCARD,2023-03-06,HMART - DUNDAS TORONTO ON,7.72,income_government
...,...,...,...,...,...
644,BMO_MASTERCARD,2023-04-12,GONG CHA EATONS TORONTO ON,6.67,food_drink
645,BMO_MASTERCARD,2023-04-12,NYF3244 TORONTO ON,8.13,bank_fees
646,BMO_MASTERCARD,2023-04-16,REAL FRUIT BUBBLE TEA TORONTO ON,6.20,food_drink
647,BMO_MASTERCARD,2023-04-17,HMART - DUNDAS TORONTO ON,28.44,food_drink
648,BMO_MASTERCARD,2023-04-19,INDIAN BIRIYANI HOUSE TORONTO ON,18.63,food_drink

In [24]:
def func(hi, **kwargs): 
    print(hi)
    print(kwargs['log'])

func(hi = 'hi', log = 'log')

hi
log